<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404 Not Found</title>
</head>
<body>
    <style>
        *{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 0;
            margin: 0;

        }
        .err{
            margin-top: 25%;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
    <div class="err">
        <h1>404 Not Found</h1>
        <h3>The page you looking for is doesn't exist</h3>
    </div>
</body>
</html>